{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Xondamir Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<div class="container">
	    <header>
	        <h1><a href="{% url 'home' %}">Xondamir Blog</a></h1>
	        <hr>
		</header>
		{% if user.is_authenticated %}
			<p>Xush kelibsiz, {{ user.username }}!</p>
			<p><a href="{% url 'logout' %}">Chiqib ketish</a></p>
		{% else %}
			<p>
				<a href="{% url 'login' %}">Saytga kirish</a> |
				<a href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
			</p>
		{% endif %}	
		<div class="sahifa">
	 	   {% block content %}
	 	   {% endblock content %}
		</div>
		<footer>
			<h2><a href="{% url 'post_new' %}">Yangi post yozish</a></h2>
		</footer>
	</div>
</body>
</html>